.flex-wrap.d-flex.justify-content-between.align-content-center.wow.fadeIn(data-wow-offset="50" data-wow-delay="0.5s")
  ul.footer__list-icon.d-flex.justify-content-between
    li.list__item
      a(href="https://twitter.com")
        i.fab.fa-twitter
    li.list__item
      a(href="https://www.instagram.com")
        i.fab.fa-instagram
    li.list__item
      a(href="https://www.facebook.com")
        i.fab.fa-facebook-f
    li.list__item
      a(href="https://aboutme.google.com")
        i.fab.fa-google-plus-g

  span.footer__copyright.description
    |© Freelancer - Designed by Wojtek Kwiatkowski