.row.info__list
  .col-xs-12.col-md-4.info__item.wow.fadeInLeftBig(data-wow-offset="70")
    h3.title.primary-title
      |Peace of Mind<span class="accent-dot">.</span> 
    p.description
      |You’re safe with us. The privacy and security of your financial information is our top priority.
    button.info__more-btn.primary-btn More
      i.fas.fa-arrow-right
  .col-xs-12.col-md-4.info__item.wow.fadeInUp(data-wow-offset="70")
    h3.title.primary-title
      |Free<span class="accent-dot">.</span> Actually free
    p.description
      |No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.
    button.info__more-btn.primary-btn More
      i.fas.fa-arrow-right
  .col-xs-12.col-md-4.info__item.wow.fadeInRightBig(data-wow-offset="70")
    h3.title.primary-title
      |Simple payments<span class="accent-dot">.</span> 
    p.description
      |The same debit card you use to buy coffee lets deposit money straight to your bank account.
    button.info__more-btn.primary-btn More
      i.fas.fa-arrow-right